annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asarPy==1.0.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.0
fastapi==0.136.1
greenlet==3.5.0
h11==0.16.0
httptools==0.7.1
idna==3.15
playwright==1.60.0
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.47.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
subprocess32==3.5.4
motor==3.1.1
pymongo==4.3.3
telethon==1.27.0
aiogram